<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="Syzygy.actionSet"
            label="Syzygy Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="AST Statistics">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="edu.cmu.cs.syzygy.test.EclipseAction"
               icon="icons/sample.gif"
               id="edu.cmu.cs.syzygy.test.EclipseAction"
               label="&amp;Run"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="AST Statistics">
         </action>
      </actionSet>
   </extension>

</plugin>
